<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
   Copyright (c) 2014 1C LLC.
   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html

   Contributors:
       Vladimir Piskarev (1C) - initial API and implementation
-->
<?pde version="3.8"?>
<target name="Latest Platform">
<locations>
<location includeConfigurePhase="true" includeMode="slicer" type="InstallableUnit">
<repository location="http://download.eclipse.org/cbi/updates/license"/>
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
</location>
<location includeConfigurePhase="true" includeMode="slicer" type="InstallableUnit">
<repository location="http://download.eclipse.org/releases/luna"/>
<unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140306-1642"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140310-0546"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20140310-0546"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.0.201401270305"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.6.0.v201403111428"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.6.0.v201403111428"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="2.0.0.v201403111353"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.2.v201403111231"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.6.0.v201403111231"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.6.0.v201403111450"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.0.v20140310-0733"/>
<unit id="org.eclipse.emf.validation.feature.group" version="1.8.0.201403111711"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20140228-1838"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20140228-1838"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.9.0.v20140228-1838"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20140228-1838"/>
</location>
</locations>
</target>
