<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Latest Platform" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140606-1558"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.100.201405261516"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.0.v20140602-0749"/>
<unit id="org.eclipse.emf.validation.feature.group" version="1.8.0.201405281429"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20140528-1625"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20140528-1625"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.9.0.v20140528-1625"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20140528-1625"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeConfigurePhase="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.7.0.v201409021032"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.7.0.v201409021032"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="2.0.0.v201406030414"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.4.v201409021027"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.7.0.v201409021027"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.7.0.v201409021051"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
</location>
</locations>
</target>
