<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2015, 2018 1C-Soft LLC.

    This program and the accompanying materials are made available under
    the terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

    Contributors:
        Vladimir Piskarev (1C) - initial API and implementation
 -->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.handly.examples.adapter.ui.JavaEditor"
            name="Java Editor (Handly Adapter Example)"
            extensions="java"
            default="false"
            class="org.eclipse.handly.internal.examples.adapter.ui.JavaEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            id="org.eclipse.handly.examples.adapter.ui.JavaSearchResultPage"
            class="org.eclipse.handly.internal.examples.adapter.ui.search.JavaSearchResultPage"
            searchResultClass="org.eclipse.handly.internal.examples.adapter.ui.search.JavaSearchResult">
      </viewPage>
   </extension>
</plugin>
