<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2014, 2020 1C-Soft LLC and others.

    This program and the accompanying materials are made available under
    the terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

    Contributors:
        Vladimir Piskarev (1C) - initial API and implementation
 -->
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.handly.examples"
            name="%category.name.examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            id="org.eclipse.handly.examples.adapter"
            name="%wizard.name.examples.adapter"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.handly.examples"
            project="true"
            icon="icons/ctool16/newprj_wiz.png">
         <description>%wizard.description.examples.adapter</description>
      </wizard>
      <wizard
            id="org.eclipse.handly.examples.basic"
            name="%wizard.name.examples.basic"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.handly.examples"
            project="true"
            icon="icons/ctool16/newprj_wiz.png">
         <description>%wizard.description.examples.basic</description>
      </wizard>
      <wizard
            id="org.eclipse.handly.examples.jmodel"
            name="%wizard.name.examples.jmodel"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.handly.examples"
            project="true"
            icon="icons/ctool16/newprj_wiz.png">
         <description>%wizard.description.examples.jmodel</description>
      </wizard>
      <wizard
            id="org.eclipse.handly.examples.xtext.xtext"
            name="%wizard.name.examples.xtext.xtext"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.handly.examples"
            project="true"
            icon="icons/ctool16/newprj_wiz.png">
         <description>%wizard.description.examples.xtext.xtext</description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            id="org.eclipse.handly.examples.adapter"
            wizardID="org.eclipse.handly.examples.adapter">
         <projectDescriptor
               name="org.eclipse.handly.examples.adapter"
               contentURI="contents/org.eclipse.handly.examples.adapter.zip"
               description="%projectDescriptor.description.examples.adapter"/>
         <projectDescriptor
               name="org.eclipse.handly.examples.adapter.ui"
               contentURI="contents/org.eclipse.handly.examples.adapter.ui.zip"
               description="%projectDescriptor.description.examples.adapter.ui"/>
      </example>
      <example
            id="org.eclipse.handly.examples.basic"
            wizardID="org.eclipse.handly.examples.basic">
         <projectDescriptor
               name="org.eclipse.handly.examples.basic"
               contentURI="contents/org.eclipse.handly.examples.basic.zip"
               description="%projectDescriptor.description.examples.basic"/>
         <projectDescriptor
               name="org.eclipse.handly.examples.basic.ide"
               contentURI="contents/org.eclipse.handly.examples.basic.ide.zip"
               description="%projectDescriptor.description.examples.basic.ide"/>
         <projectDescriptor
               name="org.eclipse.handly.examples.basic.ui"
               contentURI="contents/org.eclipse.handly.examples.basic.ui.zip"
               description="%projectDescriptor.description.examples.basic.ui"/>
         <projectDescriptor
               name="org.eclipse.handly.examples.basic.ui.tests"
               contentURI="contents/org.eclipse.handly.examples.basic.ui.tests.zip"
               description="%projectDescriptor.description.examples.basic.ui.tests"/>
      </example>
      <example
            id="org.eclipse.handly.examples.jmodel"
            wizardID="org.eclipse.handly.examples.jmodel">
         <projectDescriptor
               name="org.eclipse.handly.examples.jmodel"
               contentURI="contents/org.eclipse.handly.examples.jmodel.zip"
               description="%projectDescriptor.description.examples.jmodel"/>
         <projectDescriptor
               name="org.eclipse.handly.examples.jmodel.tests"
               contentURI="contents/org.eclipse.handly.examples.jmodel.tests.zip"
               description="%projectDescriptor.description.examples.jmodel.tests"/>
         <projectDescriptor
               name="org.eclipse.handly.examples.jmodel.ui"
               contentURI="contents/org.eclipse.handly.examples.jmodel.ui.zip"
               description="%projectDescriptor.description.examples.jmodel.ui"/>
      </example>
      <example
            id="org.eclipse.handly.examples.xtext.xtext"
            wizardID="org.eclipse.handly.examples.xtext.xtext">
         <projectDescriptor
               name="org.eclipse.handly.examples.xtext.xtext.ui"
               contentURI="contents/org.eclipse.handly.examples.xtext.xtext.ui.zip"
               description="%projectDescriptor.description.examples.xtext.xtext"/>
      </example>
   </extension>

</plugin>
