<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
   Copyright (c) 2014, 2018 1C-Soft LLC and others.

   This program and the accompanying materials are made available under
   the terms of the Eclipse Public License 2.0 which is available at
   https://www.eclipse.org/legal/epl-2.0/

   SPDX-License-Identifier: EPL-2.0

   Contributors:
       Vladimir Piskarev (1C) - initial API and implementation
-->
<?pde version="3.8"?>
<target name="Base Platform">
<!--
   Currently, the Base Platform includes:
   * Eclipse Project SDK 4.6.3 (Neon.3)
   * Xtext SDK 2.11 and dependencies
   * LSP4J 0.3/LSP4E 0.4 and dependencies
-->
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/cbi/updates/license/2.0.1.v20180423-1114"/>
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/releases/neon/201705151400"/>
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d" version="0.0.0"/>
<unit id="org.eclipse.ecf" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.ecf.identity" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand" version="0.0.0"/>
<unit id="org.eclipse.xtend" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
<unit id="org.objectweb.asm" version="0.0.0"/>
<unit id="com.google.guava" version="0.0.0"/>
<unit id="com.google.inject" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.11.0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<!-- LSP4J 0.3 requires xbase.lib [2.12, 3) -->
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.12.0"/>
<unit id="org.eclipse.xtext.xbase.lib" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/lsp4j/updates/releases/0.3.0"/>
<unit id="org.eclipse.lsp4j" version="0.0.0"/>
<unit id="org.eclipse.lsp4j.jsonrpc" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/lsp4e/releases/0.4.0"/>
<unit id="org.eclipse.lsp4e" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<!-- LSP4E 0.4 requires mylyn.commons.notifications which requires mylyn.commons -->
<repository location="http://download.eclipse.org/mylyn/releases/neon"/>
<unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<!-- LSP4E 0.4 requires mylyn.wikitext and mylyn.wikitext.markdown 3.0 or greater -->
<repository location="http://download.eclipse.org/mylyn/releases/oxygen"/>
<unit id="org.eclipse.mylyn.wikitext" version="0.0.0"/>
<unit id="org.eclipse.mylyn.wikitext.markdown" version="0.0.0"/>
<unit id="org.jsoup" version="0.0.0"/>
</location>
</locations>
</target>
