<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
   Copyright (c) 2014, 2025 1C-Soft LLC and others.

   This program and the accompanying materials are made available under
   the terms of the Eclipse Public License 2.0 which is available at
   https://www.eclipse.org/legal/epl-2.0/

   SPDX-License-Identifier: EPL-2.0

   Contributors:
       Vladimir Piskarev (1C) - initial API and implementation
-->
<?pde version="3.8"?>
<target name="Base Platform">
<!--
   Currently, the Base Platform includes:
   * Eclipse Project SDK 4.20 (2021-06)
   * Xtext SDK 2.25 and dependencies
-->
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/releases/2021-06/202106161001"/>
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d" version="0.0.0"/>
<unit id="org.eclipse.ecf" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.ecf.identity" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand" version="0.0.0"/>
<unit id="org.eclipse.xtend" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
<unit id="org.objectweb.asm" version="0.0.0"/>
<unit id="com.google.guava" version="0.0.0"/>
<unit id="com.google.inject" version="0.0.0"/>
<unit id="io.github.classgraph" version="0.0.0"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
