<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2014, 2018 1C-Soft LLC and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        Vladimir Piskarev (1C) - initial API and implementation
 -->
<plugin>
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.eclipse.handly.examples.basic.ui.FooExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="foo"
            id="org.eclipse.handly.examples.basic.Foo"
            name="Foo Editor">
        </editor>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.handly.examples.basic.Foo.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.eclipse.handly.examples.basic.Foo" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.handly.examples.basic.ui.FooExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="foo">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.handly.examples.basic.ui.FooExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="foo">
        </resourceServiceProvider>
    </extension>

<!-- hand-written -->

   <extension
         id="fooNature"
         name="Foo Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.handly.internal.examples.basic.ui.model.FooProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.xtext.ui.shared.xtextNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.handly.examples.basic.ui.model.IFooElement"
            class="org.eclipse.handly.internal.examples.basic.ui.model.FooElementAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.handly.examples.basic.ui.wizards.new.fooProject"
            name="Foo Project"
            icon="icons/ctool16/newprj_wiz.gif"
            class="org.eclipse.handly.examples.basic.ui.FooExecutableExtensionFactory:org.eclipse.handly.internal.examples.basic.ui.wizards.NewFooProjectWizard"
            category="org.eclipse.ui.Examples/org.eclipse.handly.examples"
            project="true">
         <description>
            Create a Foo project
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            id="org.eclipse.handly.examples.basic.ui.views.fooNavigator"
            name="Foo Navigator"
            class="org.eclipse.handly.internal.examples.basic.ui.navigator.FooNavigator"
            category="org.eclipse.handly.examples"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.handly.examples.basic.ui.views.fooNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.handly.examples.basic.ui.views.fooNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.handly.examples.basic.ui.navigator.fooContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.handly.examples.basic.ui.navigator.fooLinkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.handly.examples.basic.ui.views.fooNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.handly.examples.basic.ui.navigator.OpenActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.eclipse.handly.examples.basic.ui.navigator.fooContent"
            name="Foo Content"
            contentProvider="org.eclipse.handly.internal.examples.basic.ui.FooContentProvider"
            labelProvider="org.eclipse.handly.internal.examples.basic.ui.FooLabelProvider">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.basic.ui.model.IFooElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.basic.ui.model.IFooElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.handly.examples.basic.ui.navigator.OpenActionProvider"
            class="org.eclipse.handly.ui.navigator.OpenActionProvider">
         <enablement></enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            id="org.eclipse.handly.examples.basic.ui.navigator.fooLinkHelper"
            class="org.eclipse.handly.examples.basic.ui.FooExecutableExtensionFactory:org.eclipse.handly.internal.examples.basic.ui.navigator.FooLinkHelper">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
            </or>
         </editorInputEnablement>
         <selectionEnablement>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.basic.ui.model.IFooElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.handly.examples.basic.ui.FooExecutableExtensionFactory:org.eclipse.handly.xtext.ui.quickoutline.HandlyXtextOutlinePopupHandler"
            commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.handly.examples.basic.Foo.Editor.opened">
                </reference>
            </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
         <command
               commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.handly.examples.basic.Foo.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
