<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2015, 2018 Codasip Ltd and others.

This program and the accompanying materials are made available under
the terms of the Eclipse Public License 2.0 which is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0

Contributors:
    Ondrej Ilcik (Codasip)
    Vladimir Piskarev (1C)
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.handly.examples"
            name="Handly Examples">
      </category>
      <view
            id="org.eclipse.handly.examples.jmodel.ui.views.JavaNavigator"
            category="org.eclipse.handly.examples"
            name="JNavigator"
            icon="icons/eview16/package.gif"
            class="org.eclipse.handly.internal.examples.jmodel.ui.navigator.JavaNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.handly.examples.jmodel.ui.views.JavaNavigator"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               relationship="stack"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.handly.examples.jmodel.ui.views.JavaNavigator">
         <popupMenu
               id="org.eclipse.handly.examples.jmodel.ui.views.JavaNavigator#PopupMenu"
               allowsPlatformContributions="true">
            <insertionPoint name="group.new"/>
            <insertionPoint
                  name="group.open"
                  separator="true"/>
            <insertionPoint name="group.openWith"/>
            <insertionPoint name="group.edit"
                  separator="true"/>
            <insertionPoint name="group.reorganize" />
            <insertionPoint
                  name="group.port"
                  separator="true"/>
            <insertionPoint
                  name="group.build"
                  separator="true"/>
            <insertionPoint
                  name="group.generate"
                  separator="true"/>
            <insertionPoint
                  name="group.search"
                  separator="true"/>
            <insertionPoint
                  name="additions"
                  separator="true"/>
            <insertionPoint
                  name="group.properties"
                  separator="true"/>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.handly.examples.jmodel.ui.views.JavaNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.handly.examples.jmodel.ui.navigator.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.handly.examples.jmodel.ui.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.handly.examples.jmodel.ui.views.JavaNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.handly.examples.jmodel.ui.navigator.OpenActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GotoActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GoIntoActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.handly.examples.jmodel.ui.navigator.WorkingSetActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.eclipse.handly.examples.jmodel.ui.navigator.JavaContent"
            name="Java Content (Handly)"
            icon="icons/eview16/jperspective.gif"
            activeByDefault="true"
            contentProvider="org.eclipse.handly.examples.jmodel.ui.JavaModelContentProvider"
            labelProvider="org.eclipse.handly.examples.jmodel.ui.JavaModelLabelProvider"
            priority="normal">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.jmodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.jmodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
         <commonSorter
               class="org.eclipse.handly.internal.examples.jmodel.ui.JavaElementSorter">
         </commonSorter>
         <commonWizard
               menuGroupId="group.new"
               type="new"
               wizardId="org.eclipse.jdt.ui.wizards.JavaProjectWizard">
            <enablement></enablement>
         </commonWizard>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.handly.examples.jmodel.ui.navigator.OpenActionProvider"
            class="org.eclipse.handly.ui.navigator.OpenActionProvider">
         <enablement></enablement>
      </actionProvider>
      <actionProvider
            id="org.eclipse.handly.examples.jmodel.ui.navigator.WorkingSetActionProvider"
            class="org.eclipse.handly.internal.examples.jmodel.ui.navigator.WorkingSetActionProvider">
         <enablement></enablement>
      </actionProvider>
      <commonFilter
            id="org.eclipse.handly.examples.jmodel.ui.filters.HideOutputFolder"
            name="Java output folders"
            description="Hides Java output folders of the Java projects. A Java output folder is where the compiled Java classes are."
            activeByDefault="true"
            class="org.eclipse.handly.internal.examples.jmodel.ui.filters.OutputFolderFilter"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            id="org.eclipse.handly.examples.jmodel.ui.filters.HideEmptyPackages"
            name="Empty packages"
            description="Hides all empty packages."
            activeByDefault="false"
            class="org.eclipse.handly.internal.examples.jmodel.ui.filters.EmptyPackageFilter"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            id="org.eclipse.handly.examples.jmodel.ui.filters.HideEmptyParentPackages"
            name="Empty parent packages"
            description="Hides empty packages which do not contain Java files but other sub-folders."
            activeByDefault="true"
            class="org.eclipse.handly.internal.examples.jmodel.ui.filters.EmptyInnerPackageFilter"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            id="org.eclipse.handly.examples.jmodel.ui.navigator.JavaLinkHelper"
            class="org.eclipse.handly.internal.examples.jmodel.ui.navigator.JavaLinkHelper">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
            </or>
         </editorInputEnablement>
         <selectionEnablement>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.jmodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.handly.examples.jmodel.IJavaElement"
            class="org.eclipse.handly.internal.examples.jmodel.ui.JavaElementAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.ui.IPersistableElement">
         </adapter>
         <adapter
               type="org.eclipse.ui.IContainmentAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.handly.examples.jmodel.IJavaProject"
            class="org.eclipse.handly.internal.examples.jmodel.ui.JavaProjectAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.handly.examples.jmodel.IJavaElement"
            class="org.eclipse.handly.internal.examples.jmodel.ui.JavaElementAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            id="org.eclipse.handly.examples.jmodel.ui.PersistableJavaElementFactory"
            class="org.eclipse.handly.internal.examples.jmodel.ui.PersistableJavaElementFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            id="org.eclipse.handly.examples.jmodel.ui.JavaWorkingSetPage"
            name="Java (Handly)"
            description="Working set for Java elements"
            pageClass="org.eclipse.handly.internal.examples.jmodel.ui.workingset.JavaWorkingSetPage"
            elementAdapterClass="org.eclipse.handly.internal.examples.jmodel.ui.workingset.JavaWorkingSetElementAdapter"
            updaterClass="org.eclipse.handly.internal.examples.jmodel.ui.workingset.JavaWorkingSetUpdater">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.handly.examples.jmodel.ui.editor"
            name="Java Editor (Handly JModel Example)"
            extensions="java"
            default="false"
            class="org.eclipse.handly.internal.examples.jmodel.ui.editor.JavaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.handly.examples.jmodel.ui.javaEditorScope"
            parentId="org.eclipse.ui.textEditorScope"
            name="Editing Java Source (Handly)"
            description="Editing Java Source Context">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.handly.examples.jmodel.ui.editor.quickOutline"
            categoryId="org.eclipse.ui.category.navigate"
            name="Quick Outline"
            description="Show the quick outline for the editor input">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+O"
            commandId="org.eclipse.handly.examples.jmodel.ui.editor.quickOutline"
            contextId="org.eclipse.handly.examples.jmodel.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.handly.examples.jmodel.ui.editor.quickOutline"
            class="org.eclipse.handly.internal.examples.jmodel.ui.editor.JavaOutlinePopupHandler">
      </handler>
   </extension>
</plugin>
